<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baili.dao.mysql.menu.dao.BlMenuMapper">
  <sql id="Base_Column_List">
    id, parentid, parentname,linkid,linkname, pageurl, filename, sort, type, flag,icon
  </sql>
  <select id="listBaiLiMenu" parameterType="java.util.Map" resultType="com.baili.dao.mysql.menu.entity.BlMenu">
    select   *   from b_menu
    <trim prefix="where" prefixOverrides="AND |OR">
    	<if test="id !=null">
    	 	AND id = #{id,jdbcType=VARCHAR}
    	</if>
    	<!-- 必须存在的 -->
    	<if test="1==1">
    		AND  flag=0  
    	</if>
    	<if test="type !=null">
    		AND  type=#{type} 
    	</if>
    </trim>
   	   order by  parentid,sort asc
  </select>
  
  
  
</mapper>